* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* 1 rem = */
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h2 {
  margin: 0.5rem 0rem;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: #231f20;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.home {
  margin: 0rem 2rem;
  padding-top: 2rem;
  background-color: #fff;
  overflow: hidden;
}

/* Header */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(135deg, #e94929 0%, #e72357 80%);
  margin-bottom: 1rem;
  align-items: center;
}

.header p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: right;
  font-weight: lighter;
  margin-right: 2rem;
}

.logo {
  width: 12.3rem;
  height: 70%;
  margin-left: 2rem;
}

.logo-box {
  position: relative;
}

.lines {
  width: 18.6rem;
  position: absolute;
  top: 7.7%;
  left: -56.9%;
}

.zigzag {
  width: 7rem;
  position: absolute;
  top: 80%;
  right: 4.5%;
}

.mulher {
  width: 5.4rem;
  position: absolute;
  top: 63.1%;
  right: 31%;
}

.bolinhas {
  width: 3rem;
  position: absolute;
  top: 80.2%;
  left: 33.3%;
}

.arrow {
  width: 1.5rem;
  position: absolute;
  top: 2.8%;
  left: 52.6%;
  transform: rotate(90deg);
}

/* Main content */

.main-content {
  margin: 2rem;
  position: relative;
}

.main-content img {
  max-height: 20rem;
  width: 100%;
}

.main-content p {
  color: #74787a;
  font-size: 1.1rem;
}

.main-content .source {
  margin: 1rem 0rem 0rem;
  color: #b2b2b2;
  font-size: 0.9rem;
}

/* Main news */

.news-main::after {
  content: "";
  /* background-image: linear-gradient(135deg, #76c6cf 0%, #665da5 80%); */
  background-image: linear-gradient(135deg, #e62259 0%, #6a5ba3 80%);
  width: 15rem;
  height: 0.2rem;
  display: inline-block;
}

/* second news */

.secondary-container img {
  height: 50%;
}

.secondary-container h2 {
  font-size: 1.3rem;
}

.secondary-container {
  display: flex;
  gap: 20px;
}

.news-secondary {
  margin-top: 2rem;
}

.news-secondary::after {
  content: "";
  background-image: linear-gradient(135deg, #76c6cf 0%, #675fa6 80%);
  height: 0.2rem;
  width: 10rem;
  display: inline-block;
}
/* third news */

.news-tertiary {
  margin-top: 2rem;
}

.news-tertiary::after {
  content: "";
  background-image: linear-gradient(135deg, #75c7cf 0%, #38b389 80%);
  height: 0.2rem;
  width: 10rem;
  display: inline-block;
}

/* footer */

.signature-background {
  background-color: #fc4c02;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature {
  width: 60%;
}

.footer p {
  text-align: center;
  font-size: 1.1rem;
  background-color: #f2f2f2;
  padding: 1.5rem 0rem;
}

.footer a {
  text-decoration: underline;
}

/* Ajuste no container das noticias de baixo */
@media screen and (min-width: 490px) {
  .secondary-container img {
    height: 70%;
  }
}

/* Responsividade para tablet */
@media screen and (min-width: 707px) {
  .home {
    margin: 0rem 4rem;
  }

  /* Header */
  .mulher {
    width: 10rem;
    top: 32%;
  }

  .bolinhas {
    width: 4rem;
  }

  .logo {
    width: 15rem;
  }

  /* main news */

  .news-main img {
    max-height: 50%;
  }

  /* Secondary news */

  .secondary-container {
    width: 100%;
  }

  .news-secondary,
  .news-tertiary {
    width: 50%;
    height: 50%;
  }

  /* Footer */
  .signature {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .home {
    margin: 0rem 6rem;
  }
}

@media screen and (min-width: 1000px) {
  .home {
    margin: 0rem 17rem;
  }
}

@media screen and (min-width: 1280px) {
  .home {
    margin: 0rem 20rem;
  }

  /* Header */
  .mulher {
    right: 45%;
  }
  .arrow {
    left: 45%;
  }
  .bolinhas {
    left: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .news-tertiary img,
  .news-secondary img {
    height: 30rem;
    max-height: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .home {
    margin: 0rem 30rem;
  }
}

@media screen and (min-width: 1800px) {
  .home {
    margin: 0rem 40rem;
  }
}
